*{
    font-family: 'Yantramanav', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: mediumturquoise;
}
main{
    width:30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(238, 230, 230, 0.89);
}
header{
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
    margin-top: 0;
    margin-bottom: 0;
    border:1px solid black;
    
}

/*input part*/
.addToDoContainer{
    width: 70%;
    margin-left: inherit;
    margin-right: inherit;
    /*padding: 5px 5px 5px 5px;*/
    position:relative;
    align-items: center;
    border: inherit;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.addToDoContainer input{
    width:max-content;
    /*width: (addToDoContainer.width-#addButton.width);*/
}
.addToDoContainer #addButton{
    background-color: magenta;
    padding: 2px 2px 2px 2px;
    position: absolute;
    right: 0px;
}
/*list*/
ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.5;
    background-color:inherit;
    position: relative;
    border: 1px solid black;
    vertical-align: middle;
    
    
}
li:hover{
    background-color: lightyellow;
}
ul>li:nth-child(odd) {
    background: #eee;
  }

/*list icons, buttons*/
.icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;  
    position: absolute;
    
}

.deleteIcon{
    /*background: url(./icons/delete.svg);*/
    position: absolute;
    display: block;
    right: 50px;
    top: 7px;   /*Meg kell vizsgálni, hogy hány px 1 sor magassága, annak megfelelően kell középre pozícionálni*/
  
    
} 

.deleteIcon:hover{
    background-color: magenta;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px 2px 2px 2px;
}

.tickIcon, .tickIcon-ticked{
    
    position: absolute;
    display: block;
    right: 10px;
    top: 7px; /*Meg kell vizsgálni, hogy hány px 1 sor magassága, annak megfelelően kell középre pozícionálni*/
    
    
}

.tickIcon{
    visibility: visible;
}

.tickIcon:hover{
    background-color: magenta;    
}

.tickIcon.checked>.tickIcon{
    visibility: hidden;
}


.tickIcon-ticked{
    background-color:green;
    visibility: hidden;
}

.tickIcon.checked>.tickIcon-ticked{
    visibility: visible;
}